amqp==2.3.2
beautifulsoup4==4.6.1
certifi==2018.4.16
chardet==3.0.4
dnspython==1.15.0
eventlet==0.24.1
greenlet==0.4.14
idna==2.7
kombu==4.2.1
mock==2.0.0
monotonic==1.5
nameko==2.11.0
numpy==1.15.0
path.py==11.0.1
pbr==4.2.0
PyYAML==3.13
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
vine==1.1.4
Werkzeug==0.15.3
wrapt==1.10.11
