amqp==2.3.2
beautifulsoup4==4.6.1
billiard==3.5.0.4
celery==4.2.1
click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
kombu==4.2.1
MarkupSafe==1.0
pkg-resources==0.0.0
pytz==2018.5
redis==2.10.6
SQLAlchemy==1.2.10
vine==1.1.4
Werkzeug==0.14.1
